


   body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-top: 10px solid #333;
 }

 P {
     line-height: 20px;
 }

 a {
     text-decoration: none;
 }







 a:hover, a:active
 {
     color: #ccc;
 }




 .hidden {
    display: none;
 }


 .roundShadow
 {
     border-radius: 7px;
     box-shadow: 0px 0px 5px rgba(50,50,50,0.4);
 }




 #siteContainer {
     margin: 0 auto;
     width: 960px;
 }

 .mainHeader {
     margin-top: 40px;
     height:  100px;
 }

 .mainHeader h2{
    margin-top: 2.5em;
    text-align: center;
    margin-bottom: -2em;
    margin-right: 7em;
    font-size: 3em;
}
 
 #logo
 {
     width: 260px;
     margin-top: 2em;
 }
 
 #logo h1
 {
     font-size: 44px;
     color: red;
     line-height: 25px;
 }

 .logoStudios
 {
     display: block;
     font-size: 60px;
     color: #333;
     letter-spacing: -1px;
     line-height: 60px;
 }

 #mainNav {
     margin-left: auto;
     display: flex;
     flex-direction: row;
     margin-top: -5em;
 }

 #search {
     margin-left: auto;
 }

 #search form {
     margin-bottom: 22px;
 }




 /*----------104line is different---------------*/
 #search input
 {background-color: #fff;
  border: 1px solid #d1d1d1;
  color: #666;
  width: 150px;
  padding: 6px 15px 6px 35px;
  border-radius: 5px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
 }


 #mainNav ul
 {
     text-transform: uppercase;
     margin-top: 0;
     display: flex;
     flex-direction: row;
 }

 #mainNav ul li a
 {
     display: block;
     width: 100px;
     color:#fff;
     margin-left: -2px;
     margin-right: 12px;
     text-align: center;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-left: 4px;
     padding-right: 4px;
     font-size: 16px;
     font-weight: 600;


     border-radius: 7px;
     background: #101A2C;
     background: -moz-linear-gradient(top, #101A2C 0%, #101A2C 100%);
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101A2C), color-stop(100%,#101A2C));
     background: -webkit-linear-gradient(top, #101A2C 0%,#101A2C 100%);
     background: -o-linear-gradient(top, #101A2C 0%,#101A2C 100%);
     background: -ms-linear-gradient(top, #101A2C 0%,#101A2C 100%);
     background: linear-gradient(to bottom, #101A2C 0%,#101A2C 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
 }

 #mainNav ul li a:hover
 {
    background: #626262;
    background: -moz-linear-gradient(top,#626262 0%, #626262 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#626262), color-stop(100%,#626262));
    background: -webkit-linear-gradient(top, #626262 0%,#626262 100%);
    background: -o-linear-gradient(top, #626262 0%,#626262 100%);
    background: -ms-linear-gradient(top, #626262 0%,#626262 100%);
    background: linear-gradient(to bottom, #626262 0%,#626262 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e21d16', endColorstr='#aa0803',GradientType=0 );
}
 

 #compInfo
 {
     margin-top: 40px;
     padding-bottom: 30px;
     width: 960px;
     display: flex;
     flex-direction: row;
 }

 #compBlurb
 {
     width: 630px;
 }

 #compBlurb h2
 {
     font-size: 34px;
     margin-top: 0;
     margin-bottom: 20px;
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 400;
     color: #fff;
     line-height: 44px;
     margin-left: 3em;
     padding-top: 2em;
 }

 #compBlurb p
 {
     font-size: 16px;
     margin-left: 3em;
 }

 #hire
 {
     display: block;
     width: 200px;
     background-color: #626262;
     color: #fff;
     margin-top: 45px;
     margin-left: 3em;
     text-align: center;
     padding-top: 8px;
     padding-bottom: 8px;
     font-size: 18px;
     border: 1px solid #5f5f5f;

     border-radius: 7px;
     -webkit-transition: all 0.3s ease-in;
     -moz-transition: all 0.3s ease-in;
     -o-transition: all 0.3s ease-in;
     transition: all 0.3s ease-in;
 }

 #hire:hover
 {
     background-color: #333;
     font-size: 20px;
 }

 #compImage
 {
     margin-right: 3em;
     width: 305px;
     margin-top: 3em;
 }

 .serviceInfo
 {
     margin-top: 40px;
     border-bottom: solid 1px #fbe647;
     padding-bottom: 40px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 960px;
 }

 .serviceInfo h2
 {
     font-family: 'Josefin Sans', sans-serif;
     color: #fff;
     font-size: 20px;
     margin-top: 20px;
     margin-bottom: 10px;
 }

 .serviceInfo img
 {
     opacity: 1;
     -webkit-transition: all 0.3s ease-in;
     -moz-transition: all 0.3s ease-in;
     -o-transition: all 0.3s ease-in;
     transition: all 0.3s ease-in;
 }

 .serviceInfo img:hover
 {
    opacity: 0.6; 
 }

 .productDesc
 {
     width: 304px;
 }

 #mainFooter
 {
     margin-top: 40px;
     margin-bottom: 40px;
     display: flex;
     flex-direction: column;
     width: 960px;
 }

 #footerNav
 {
     width: 500px;
     height: 30px;
     text-transform: uppercase;
     text-align: center;
 }


 #footerNav ul li
 {
     display: inline;
     font-size: 14px;
     font-weight: 600;
     margin-right: 20px;
 }

 #footerNav ul li a
 {
     color: #fff;

     -webkit-transition: all 0.3s ease-in;
     -moz-transition: all 0.3s ease-in;
     -o-transition: all 0.3s ease-in;
     transition: all 0.3s ease-in;
 }

 #footerNav ul li a:hover
 {
     color: #333;
     border-bottom: solid 3px #333;
     padding-bottom: 5px;
 }

 #icons
 {
     display: flex;
     flex-direction: row;
     margin-left: 60em;
     margin-top: -1.5em;
     width: 100%;
 }
 
 .fab {
     font-size: 1.5em;
     color:#ffff;
     padding: 8px;
  }


#copyRight
 {
     margin: auto;
     text-align: center;
     font-size: 12px;
 }




 
/*-------------------Page2--------------------*/

#serviceInfo_page2
 {
     margin-top: 40px;
     border-bottom: solid 1px #ff3019;
     padding-bottom: 40px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 960px;
 }

 #serviceInfo_page2 h2
 {
     font-family: 'Josefin Sans', sans-serif;
     color: #fff;
     font-size: 20px;
     margin-top: 20px;
     margin-bottom: 10px;
    
 }

 #serviceInfo_page2 img
 {
     opacity: 1;
     -webkit-transition: all 0.3s ease-in;
     -moz-transition: all 0.3s ease-in;
     -o-transition: all 0.3s ease-in;
     transition: all 0.3s ease-in;
     margin-left: -22em;
 }

 #serviceInfo_page2 img:hover
 {
    opacity: 0.6; 
 }
 

 .productDesc_page2
 {
     width: 304px;
 }

/*------------ Hero Styles Page2/3/4------------*/
.head, .main > *, .foot {
    display: grid;
       grid-template-columns: 1fr repeat(2, minmax(auto, 40em)) 1fr;
 }

 .one-item {
    display: grid;
    grid-column: 2 / span 2 ;
    grid-template-columns: repeat(1, 1fr);
 }

 
 .hero {
    margin: 0 0;
 }

 .hero-img img {
    width: 100%;
 }

 .hero-img {
    display: grid;
    grid-column: span 4;
    margin-top: 2em;
 }

 .hero-img > * {
    grid-column: 1;
    grid-row: 1;
 }

 .hero-img h2, .hero-img h3 {
    background: #626262;
    padding: 1em 1.75em;
    font-size: 1.8em;
    font-weight: 300;
 }



 .hero-img h2.right, .hero-img h3.right {
    align-self: center;
    justify-self: end;
    margin-right: 8em;
    margin-top: 12em;
    font-size: 2em;
    border-radius: 10px;
 }
 /*----------------Page4--------------------*/

 .roundShadow_page4
 {
     border-radius: 7px;
     box-shadow: 0px 0px 5px rgba(50,50,50,0.4);
     margin-left: 0.3em;
 }


 
 #compInfo_page4
 {
     margin-top: 40px;
     padding-bottom: 30px;
     width: 960px;
     display: flex;
     flex-direction: row;
     border-bottom: solid 1px #ff3019;
 }

/*-------------------*/

.article {
    margin: 5em;
    line-height: 5px;
}

.article h2 {
    font-size: 2em;
    font-weight: 700;
}

.article p {
    font-size: 14px;
    font-weight: 400;
}